.blog-section {
  padding-top: 200px;
  padding-bottom: 65px;
}

.card-body {
  background: #d9d9d9;
}

.title-blog {
  padding-bottom: 90px;
  padding-left: 50px;
  color: #3cd0ff;
  font-size: 95px;
  font-weight: 500;
}

.card-item {
  height: 504px;
  text-align: center;
}

.more-button {
  font: 24px;
  width: 270px;
  height: 70px;
  border-radius: 10px;
  opacity: 0px;
  background: #80e1ff;
  border: none;
  display: block;
  margin: 50px auto 0;
  font-weight: 700;
}
