.title-contact {
  margin: 0;
  padding-left: 100px;
  padding-top: 150px;
  height: 700px;
  font-size: 96px;
  text-align: left;
  color: #80e1ff;
  background-color: black;
  font-weight: 500;
}

@media (max-width: 768px) {
  .title-contact {
    padding-left: 5%; /* Điều chỉnh khoảng cách bên trái cho phù hợp */
    padding-top: 30%; /* Điều chỉnh khoảng cách phía trên cho phù hợp */
    font-size: 7vw; /* Điều chỉnh kích thước font cho thiết bị di động nhỏ hơn */
    height: 100vh; /* Tự động điều chỉnh chiều cao dựa trên nội dung */
  }
}