.trader-side {
  background: linear-gradient(
    180deg,
    rgba(219, 255, 227, 0.1) 1.36%,
    rgba(213, 253, 229, 0.6) 8.44%,
    #80e1ff 21.03%
  );
  height: 1912px;
  padding-top: 350px;
  padding-left: 100px;
  margin-top: 50px;
}

.title-trader {
  font-size: 96px;
}

@media (max-width: 768px) {
  .trader-side {
    padding-left: 5%; /* Điều chỉnh khoảng cách bên trái cho phù hợp */
    padding-top: 15%; /* Điều chỉnh khoảng cách phía trên cho phù hợp */
    height: 100vh; /* Tự động điều chỉnh chiều cao dựa trên nội dung */
  }

  .title-trader {
    font-size: 8vw; /* Điều chỉnh kích thước font cho thiết bị di động nhỏ hơn */
  }
}
